body {
  background-color: black;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container img {
    width: 32vw;
    margin: 30px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}